version: '3.8'

services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - ./config:/config
    restart: unless-stopped
    ports:
      - "8123:8123"
    environment:
      - TZ=Asia/Ho_Chi_Minh
    privileged: true
